"__pycache__/" 
"*.pyc" 
TestNodes/__pycache__/processing_tools.cpython-310.pyc
TestNodes/__pycache__/__init__.cpython-310.pyc
TestNodes/__pycache__/periodic_signal.cpython-310.pyc
TestNodes/__pycache__/tools.cpython-310.pyc
